<div class="container-fluid text-center">
	@if (User.Role == "Admin")
	{
	<h2>Hello, @User.Username!</h2>
	}
	@else
	{
	<h2>Hello, Administrator @User.Username!</h2>
	}
</div>
<hr class="hr-2 bg-dark" />
<div class="row d-flex justify-content-around">
	<div class="col-3 w-25">
		<h4 class="text-center">Pending</h4>
		<div class="border-panda p-2">
			@foreach (var package in Model.Pending)
			{
			<div class="row text-panda justify-content-around m-2">
				<h5>@package.Description</h5>
				<a href="/packages/details?id=@package.Id" class="btn bg-panda text-white">Details</a>
			</div>
			}
		</div>
	</div>
		
	<div class="col-3 w-25">
		<h4 class="text-center">Shipped</h4>
		<div class="border-panda p-2">
			@foreach (var package in Model.Shipped)
			{
			<div class="row text-panda justify-content-around m-2">
				<h5>@package.Description</h5>
				<a href="/packages/details?id=@package.Id" class="btn bg-panda text-white">Details</a>
			</div>
			}
		</div>
	</div>
	<div class="col-3 w-25">
		<h4 class="text-center">Delivered</h4>
		<div class="border-panda p-2">
			@foreach (var package in Model.Delivered)
			{
			<div class="row text-panda justify-content-around m-2">
				<h5>@package.Description</h5>
				<a href="/packages/acquire?id=@package.Id" class="btn bg-panda text-white">Acquire</a>
			</div>
			}
		</div>
	</div>
</div>